function Graphics.drawTankGoUp 0
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 7399
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 5285
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 7335
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 5349
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 7335
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 5285
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 7335
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 5285
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 7607
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 6077
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 7335
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 5557
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 7447
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 5397
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 7447
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 5349
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 7695
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 5621
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 7175
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 5125
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 7175
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawTankGoLeft 0
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31488
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 28673
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32759
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28673
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 31488
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 21
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 21
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 31
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawTankGoRight 0
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 7112
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 472
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 40
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 472
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 7112
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 21
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 18
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 21
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 31
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawTankGoDown 0
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 7175
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 5125
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 7175
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 5621
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 7695
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 5349
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 7447
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 5397
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 7447
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 5557
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 7335
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 6077
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 7607
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 5285
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 7335
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 5285
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 7335
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 5349
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 7335
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 5285
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 7399
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseTankFirstGen 0
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawBullet 0
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawBrickBlock 0
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32703
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32703
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1027
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1027
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8209
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8209
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1027
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1027
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32703
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32703
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 1027
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 1027
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 15
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawModuleBlock 0
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1537
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1665
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 6471
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 6471
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 6471
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1665
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2307
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1537
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1537
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1665
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 6471
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 6471
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 6471
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 1665
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 2307
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 1537
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 11
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 11
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 15
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawLeavesBlock 0
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 6535
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 6535
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 22186
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 22954
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 20651
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 22187
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 22186
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 22954
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 6535
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 6534
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 6534
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 6535
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 22186
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 22954
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 20651
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 22187
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 22186
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 22954
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 6535
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 6535
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 5
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 13
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 5
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 5
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 13
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 5
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 14
call Memory.poke 2
pop temp 0
push constant 0
return
