function Bullet.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
return
function Bullet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bullet.erase 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 2
call Graphics.eraseBullet 3
pop temp 0
push constant 0
return
function Bullet.shootUp 0
push argument 0
pop pointer 0
push this 1
push constant 0
gt
not
if-goto $_IF_FALSE0
push this 0
push this 1
call Graphics.drawBulletUp 2
pop temp 0
push this 1
push constant 1
sub
pop this 1
push pointer 0
call Bullet.erase 1
pop temp 0
goto $_IF_END0
label $_IF_FALSE0
push this 0
push this 1
call Graphics.drawBoom 2
pop temp 0
label $_IF_END0
push constant 0
return
function Bullet.shootDown 0
push argument 0
pop pointer 0
push this 1
push constant 255
lt
not
if-goto $_IF_FALSE1
push this 0
push this 1
call Graphics.drawBulletDown 2
pop temp 0
push this 1
push constant 1
add
pop this 1
push pointer 0
call Bullet.erase 1
pop temp 0
goto $_IF_END1
label $_IF_FALSE1
push this 0
push this 1
call Graphics.drawBoom 2
pop temp 0
label $_IF_END1
push constant 0
return
function Bullet.shootLeft 0
push argument 0
pop pointer 0
push this 0
push constant 0
gt
not
if-goto $_IF_FALSE2
push this 0
push this 1
call Graphics.drawBulletLeft 2
pop temp 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
call Bullet.erase 1
pop temp 0
goto $_IF_END2
label $_IF_FALSE2
push this 0
push this 1
call Graphics.drawBoom 2
pop temp 0
label $_IF_END2
push constant 0
return
function Bullet.shootRight 0
push argument 0
pop pointer 0
push this 0
push constant 512
gt
not
if-goto $_IF_FALSE3
push this 0
push this 1
call Graphics.drawBulletRight 2
pop temp 0
push this 0
push constant 1
add
pop this 0
push pointer 0
call Bullet.erase 1
pop temp 0
goto $_IF_END3
label $_IF_FALSE3
push this 0
push this 1
call Graphics.drawBoom 2
pop temp 0
label $_IF_END3
push constant 0
return
