function Bullet.new 2
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 1
pop this 2
push argument 1
call Vector.up 0
call Vector.eq 2
push argument 1
call Vector.down 0
call Vector.eq 2
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
pop this 3
push constant 5
pop this 4
goto IF_END0
label IF_FALSE0
push constant 5
pop this 3
push constant 3
pop this 4
label IF_END0
push this 0
call Vector.x 1
pop local 0
push this 0
call Vector.y 1
pop local 1
push constant 1
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push this 3
add
push constant 1
sub
push local 1
push this 4
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push pointer 0
return
function Bullet.update 3
push argument 0
pop pointer 0
push this 0
pop local 0
push this 1
push this 2
call Vector.multiplyInt 2
pop local 1
push this 0
push local 1
call Vector.add 2
pop this 0
push this 0
call Vector.x 1
push constant 0
lt
push this 0
call Vector.x 1
push constant 511
push this 3
sub
gt
or
push this 0
call Vector.y 1
push constant 0
lt
or
push this 0
call Vector.y 1
push constant 255
push this 4
sub
gt
or
pop local 2
push local 1
call Vector.dispose 1
pop temp 0
push this 0
push this 0
call Vector.x 1
push constant 0
push constant 511
push this 3
sub
call MathExtension.clamp 3
call Vector.setX 2
pop temp 0
push this 0
push this 0
call Vector.y 1
push constant 0
push constant 255
push this 4
sub
call MathExtension.clamp 3
call Vector.setY 2
pop temp 0
push pointer 0
push local 0
call Bullet.redraw 2
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
push local 0
call Vector.dispose 1
pop temp 0
push local 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call BattleCityGame.destroyBullet 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Bullet.redraw 4
push argument 0
pop pointer 0
push argument 1
call Vector.x 1
pop local 0
push argument 1
call Vector.y 1
pop local 1
push this 0
call Vector.x 1
pop local 2
push this 0
call Vector.y 1
pop local 3
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push this 3
add
push constant 1
sub
push local 1
push this 4
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push local 2
push local 3
push local 2
push this 3
add
push constant 1
sub
push local 3
push this 4
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bullet.dispose 2
push argument 0
pop pointer 0
push this 0
call Vector.x 1
pop local 0
push this 0
call Vector.y 1
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push this 3
add
push local 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push this 0
call Vector.dispose 1
pop temp 0
push this 1
call Vector.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
