function CollisionInfo.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
pop this 2
push constant 2000
pop this 3
push pointer 0
return
function CollisionInfo.link 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
call CollisionInfo.B 1
pop this 0
push argument 0
call CollisionInfo.A 1
pop this 1
push argument 0
pop this 2
push argument 0
push pointer 0
call CollisionInfo.setLink 2
pop temp 0
push constant 3000
pop this 3
push pointer 0
return
function CollisionInfo.setLink 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function CollisionInfo.unlink 0
push argument 0
pop pointer 0
push this 0
pop this 1
push pointer 0
pop this 2
push constant 0
return
function CollisionInfo.valid 0
push argument 0
pop pointer 0
push pointer 0
push this 2
eq
not
push this 0
push this 1
eq
not
and
return
function CollisionInfo.A 0
push argument 0
pop pointer 0
push this 0
return
function CollisionInfo.B 0
push argument 0
pop pointer 0
push this 1
return
function CollisionInfo.dispose 0
push argument 0
pop pointer 0
push this 2
push pointer 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call CollisionInfo.unlink 1
pop temp 0
label IF_FALSE0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
