function ColliderFactory.init 0
push constant 0
pop static 0
push constant 0
return
function ColliderFactory.create 2
push static 0
push argument 1
call ColliderMetadata.new 2
pop local 0
push static 0
push constant 1
add
pop static 0
push argument 0
push local 0
call Collider.new 2
pop local 1
push local 1
call CollisionManager.addCollider 1
pop temp 0
push local 1
return
