function ColliderFactory.init 0
push constant 0
pop static 0
push constant 0
return
function ColliderFactory.create 3
push static 0
push argument 1
push argument 2
call ColliderMetadata.new 3
pop local 0
push static 0
push constant 1
add
pop static 0
push argument 0
push local 0
call Collider.new 2
pop local 1
push local 1
call CollisionManager.addCollider 1
pop local 2
push local 1
push local 2
call Collider.setSlot 2
pop temp 0
push local 1
return
