function Drawer.drawSprite 19
push argument 0
push constant 16
call Math.divide 2
pop local 2
push argument 0
push local 2
push constant 16
call Math.multiply 2
sub
pop local 3
push argument 2
call Sprite.height 1
pop local 4
push argument 2
call Sprite.wordWidth 1
pop local 5
push constant 16384
push argument 1
push constant 32
call Math.multiply 2
push local 2
add
add
pop local 12
push argument 2
call Sprite.data 1
pop local 17
push argument 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 5
push constant 1
sub
pop local 7
push constant 1
neg
pop local 9
push constant 1
neg
pop local 11
goto IF_END0
label IF_FALSE0
push constant 0
pop local 7
push constant 1
pop local 9
push local 5
pop local 11
label IF_END0
push argument 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push constant 1
sub
pop local 0
push constant 1
neg
pop local 8
push constant 1
neg
pop local 10
goto IF_END1
label IF_FALSE1
push constant 0
pop local 0
push constant 1
pop local 8
push local 4
pop local 10
label IF_END1
push local 3
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push local 2
push local 4
push local 5
push local 17
push local 0
push local 7
push local 8
push local 9
push local 10
push local 11
push argument 3
call Drawer.__simpleDraw 12
pop temp 0
push constant 0
return
label IF_FALSE2
label WHILE_EXP0
push local 0
push local 10
eq
not
not
if-goto WHILE_END0
push local 0
push local 17
add
pop pointer 1
push that 0
pop local 18
push local 7
pop local 1
push constant 0
pop local 6
label WHILE_EXP1
push local 1
push local 11
eq
not
not
if-goto WHILE_END1
push argument 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push local 18
add
pop pointer 1
push that 0
call BitwiseExtension.reverseBits 1
pop local 14
goto IF_END3
label IF_FALSE3
push local 1
push local 18
add
pop pointer 1
push that 0
pop local 14
label IF_END3
push local 14
push constant 16
push local 3
sub
call BitwiseExtension.takeNLowBits 2
pop local 16
push local 14
push local 16
sub
pop local 15
push local 12
push local 6
add
pop local 13
push local 13
push constant 24576
lt
push local 13
push constant 0
lt
not
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 13
push local 13
call Memory.peek 1
push local 16
push local 3
call BitwiseExtension.leftShift 2
or
call Memory.poke 2
pop temp 0
label IF_FALSE4
push local 13
push constant 1
add
pop local 13
push local 13
push constant 24576
lt
push local 13
push constant 0
lt
not
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 13
push local 13
call Memory.peek 1
push local 15
push constant 16
push local 3
sub
call BitwiseExtension.rightShift 2
or
call Memory.poke 2
pop temp 0
label IF_FALSE5
push local 1
push local 9
add
pop local 1
push local 6
push constant 1
add
pop local 6
goto WHILE_EXP1
label WHILE_END1
push local 0
push local 8
add
pop local 0
push local 12
push constant 32
add
pop local 12
push local 12
push constant 24576
lt
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
return
label IF_FALSE6
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Drawer.__simpleDraw 7
push constant 16384
push argument 0
push constant 32
call Math.multiply 2
push argument 1
add
add
pop local 3
push argument 5
pop local 0
label WHILE_EXP0
push local 0
push argument 9
eq
not
not
if-goto WHILE_END0
push local 0
push argument 4
add
pop pointer 1
push that 0
pop local 6
push argument 6
pop local 1
push constant 0
pop local 4
label WHILE_EXP1
push local 1
push argument 10
eq
not
not
if-goto WHILE_END1
push argument 11
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 6
add
pop pointer 1
push that 0
call BitwiseExtension.reverseBits 1
pop local 5
goto IF_END0
label IF_FALSE0
push local 1
push local 6
add
pop pointer 1
push that 0
pop local 5
label IF_END0
push local 3
push local 4
add
push local 5
call Memory.poke 2
pop temp 0
push local 1
push argument 8
add
pop local 1
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP1
label WHILE_END1
push local 0
push argument 7
add
pop local 0
push local 3
push constant 32
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
