function Graphics.fillScreen 0
push argument 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphics.coordinatesToMemoryAddress 1
push argument 0
push constant 16
call Math.divide 2
pop local 0
push constant 0
return
