function KeyboardExtension.init 0
push constant 1
neg
pop static 0
push constant 0
return
function KeyboardExtension.keyDown 1
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
pop static 0
label IF_FALSE0
push local 0
push static 0
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop static 0
push local 0
return
label IF_FALSE1
push constant 0
return
