function Player.new 3
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
call Vector.x 1
push argument 0
call Vector.y 1
push constant 33
push constant 33
call BoundingBox.new 4
pop local 0
call List.new 0
pop local 1
push local 1
push constant 2
call List.add 2
pop temp 0
push local 0
push constant 0
push local 1
call ColliderFactory.create 3
pop local 2
push local 2
push local 1
call RectangleBody.new 2
pop this 8
push argument 0
pop this 0
push constant 1
pop this 2
push constant 20
pop this 3
call SpriteManager.getPlayerTankUp 0
pop this 4
call Vector.up 0
pop this 1
call Timer.new 0
pop this 7
push pointer 0
call Player.getX 1
push pointer 0
call Player.getY 1
push this 4
push constant 0
push constant 0
call Drawer.drawSprite 5
pop temp 0
push pointer 0
return
function Player.update 3
push argument 0
pop pointer 0
push this 8
call RectangleBody.x 1
pop local 0
push this 8
call RectangleBody.y 1
pop local 1
push this 7
call Timer.update 1
pop temp 0
call Keyboard.keyPressed 0
push constant 32
eq
push this 7
call Timer.timeOut 1
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.__shoot 1
pop temp 0
push this 7
push this 3
call Timer.start 2
pop temp 0
label IF_FALSE0
push pointer 0
call Player.__processMovement 1
pop local 2
push local 2
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push pointer 0
call Player.__updateSprite 1
pop temp 0
push pointer 0
push local 0
push local 1
call Player.redraw 3
pop temp 0
push constant 0
return
function Player.getX 0
push argument 0
pop pointer 0
push this 8
call RectangleBody.x 1
return
function Player.getY 0
push argument 0
pop pointer 0
push this 8
call RectangleBody.y 1
return
function Player.__processMovement 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 130
eq
push local 0
push constant 65
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 8
push this 2
neg
call RectangleBody.moveX 2
pop temp 0
call Vector.left 0
pop this 1
push constant 0
not
return
label IF_FALSE0
push local 0
push constant 131
eq
push local 0
push constant 87
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 8
push this 2
neg
call RectangleBody.moveY 2
pop temp 0
call Vector.up 0
pop this 1
push constant 0
not
return
label IF_FALSE1
push local 0
push constant 132
eq
push local 0
push constant 68
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 8
push this 2
call RectangleBody.moveX 2
pop temp 0
call Vector.right 0
pop this 1
push constant 0
not
return
label IF_FALSE2
push local 0
push constant 133
eq
push local 0
push constant 83
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 8
push this 2
call RectangleBody.moveY 2
pop temp 0
call Vector.down 0
pop this 1
push constant 0
not
return
label IF_FALSE3
push constant 0
return
function Player.redraw 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push this 4
call Sprite.width 1
add
push constant 1
sub
push argument 2
push this 4
call Sprite.height 1
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push pointer 0
call Player.getX 1
push pointer 0
call Player.getY 1
push this 4
push this 1
call Vector.left 0
call Vector.eq 2
push this 1
call Vector.down 0
call Vector.eq 2
call Drawer.drawSprite 5
pop temp 0
push constant 0
return
function Player.__shoot 1
push argument 0
pop pointer 0
push this 1
call Vector.up 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.getX 1
push constant 15
add
push pointer 0
call Player.getY 1
push constant 3
sub
call Vector.new 2
pop local 0
label IF_FALSE0
push this 1
call Vector.right 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Player.getX 1
push constant 30
add
push pointer 0
call Player.getY 1
push constant 15
add
call Vector.new 2
pop local 0
label IF_FALSE1
push this 1
call Vector.down 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Player.getX 1
push constant 15
add
push pointer 0
call Player.getY 1
push constant 30
add
call Vector.new 2
pop local 0
label IF_FALSE2
push this 1
call Vector.left 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Player.getX 1
push constant 3
sub
push pointer 0
call Player.getY 1
push constant 15
add
call Vector.new 2
pop local 0
label IF_FALSE3
push local 0
push this 1
call Vector.clone 1
call BattleCityGame.createBullet 2
pop temp 0
push constant 0
return
function Player.__updateSprite 0
push argument 0
pop pointer 0
push this 1
call Vector.up 0
call Vector.eq 2
push this 1
call Vector.down 0
call Vector.eq 2
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call SpriteManager.getPlayerTankUp 0
pop this 4
goto IF_END0
label IF_FALSE0
call SpriteManager.getPlayerTankRight 0
pop this 4
label IF_END0
push constant 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push this 0
call Vector.dispose 1
pop temp 0
push this 7
call Timer.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
