function Vector.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Vector.x 0
push argument 0
pop pointer 0
push this 0
return
function Vector.y 0
push argument 0
pop pointer 0
push this 1
return
function Vector.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Vector.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Vector.add 1
push argument 0
pop pointer 0
push this 0
push argument 1
call Vector.x 1
add
push this 1
push argument 1
call Vector.y 1
add
call Vector.new 2
pop local 0
push local 0
return
function Vector.sub 1
push argument 0
pop pointer 0
push this 0
push argument 1
call Vector.x 1
sub
push this 1
push argument 1
call Vector.y 1
sub
call Vector.new 2
pop local 0
push local 0
return
function Vector.multiplyInt 1
push argument 0
pop pointer 0
push this 0
push argument 1
call Math.multiply 2
push this 1
push argument 1
call Math.multiply 2
call Vector.new 2
pop local 0
push local 0
return
function Vector.minus 1
push argument 0
pop pointer 0
push this 0
neg
push this 1
neg
call Vector.new 2
pop local 0
push local 0
return
function Vector.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
